<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= yield_content :title %> » Armada Robotics</title>
  
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag config[:theme], "main", "old" %>
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">
          Armada Robotics
        </a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div id="navbar-main" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li <%= "class='active'" if current_page.path == "about.html" %>>
            <a href="/about">About</a>
          </li>
          <li <%= "class='active'" if current_page.path == "robots.html" %>>
            <a href="/robots">Robots</a>
          </li>
          <li <%= "class='active'" if current_page.path == "sponsors.html" %>>
            <a href="/sponsors">Sponsors</a>
          </li>
          <li <%= "class='active'" if current_page.path == "donate.html" %>>
            <a href="/donate">Donate</a>
          </li>
          <!--
          <li <%= "class='active'" if current_page.path == "media.html" %>>
            <a href="#">Media</a>
          </li>
          <li <%= "class='active'" if current_page.path == "resources.html" %>>
            <a href="#">Resources</a>
          </li>
          -->
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="first">
            <a href="http://www.usfirst.org/" target="_blank">
              <%= image_tag "first-logo.gif" %>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>

  <br />
  <br />
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <p>
            &copy; 2007-<%= Time.now.year %> <a href="/"><b>Armada Robotics</b></a>
          </p>
          <p>
            Maintained by the web development team.
          </p>
        </div>
        <div class="col-lg-6">
          <a target="_blank" href="http://usfirst.org/" class="pull-right">
            <img src="/assets/images/brands/frc.png" style="width: 80px" />
          </a>

          <a target="_blank" href="http://www.stillwater.k12.mn.us" class="pull-right" style="margin-right: 30px">
            <img src="/assets/images/brands/pony-pride.png" style="width: 50px" />
          </a>
        </div>
      </div>
    </div>
  </footer>
  
  <%= javascript_include_tag  "all" %>
  <!-- Google+ Button Script -->
<script src="https://apis.google.com/js/platform.js" async defer></script>

</body>

</html>