<% content_for :title, "Robots" %>

<% data.robots.each do |robot| %>
  <% next if robot.hidden.present? && robot.hidden %>
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h2>
          <%= robot.name %>
          <span class="pull-right"><%= robot.year %></span>
        </h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <% if robot.image.present? %>
        <img src="<%= robot.image %>" class="img-thumbnail" />
      <% end %>
      <p></p>
      <table class="table table-bordered">
        <tr>
          <th>Name</th>
          <td><%= robot.name %></td>
        </tr>
        <tr>
          <th>Year</th>
          <td><%= robot.year %></td>
        </tr>
        <% if robot.ranking.present? %>
          <tr>
            <th>Ranking</th>
            <td><%= robot.ranking %></td>
          </tr>
        <% end %>
        <% if robot.record.present? %>
          <tr>
            <th>Record</th>
            <td><%= robot.record %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="col-lg-8">
      <b>The Robot:</b>
      <p>
        <%= robot.about %>
      </p>
      <br />
      <b>The Challenge:</b>
      <p>
        <%= robot.challenge %>
      </p>
    </div>
  </div>

<% end %>